* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-familY: Helvetica;
    background: darkblue;
}

p {
    text-align: left;
    margin-bottom: 1em;

}

p:first-letter {
    font-weight: bold;
}

p ul, p li, p > ul, p > ul > li, #upcoming {
    text-align: left !important;
}

#m {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 955px;
    background: lightblue;
}

header, #header {
    height: 125px;
    width: 955px;
    margin-top: 15px;
    background-image: url('i/scroll_background.png');
}

footer, #footer {
    width: 955px;
    height: 2.5EM;
    text-align: center;
}

div#content {
    width: 955px;
    min-height: 400px;
    height: auto !important;
    border: 5px solid darkblue;
    border-top: 15px solid darkblue;
    border-left: 0px;
    border-right: 0px;

}

nav, #nav {
    text-align: center;
    height: 2EM;
    width: 955px;
    background: transparent;
}

nav li a, #nav li a {
    display: block;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav li a:hover, #nav li a:hover {
    display: block;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3333FF;
}

nav li, #nav li {
    float: left;
    height: 2EM;
    line-height: 2EM;
    vertical-align: middle;
    width: 100px;
    overflow: visible;
    background-color: darkblue;
    /*margin-left: 5px;*/
    margin-right: 5px;
}

nav li:first-child, #nav li:first-child {
    margin-left: 5px;
}

nav > ul, #nav > ul {
    list-style: none;
    width: 875px;
    background: transparent;
    margin-left: 75px;
    height: 70px;
}

.tab {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px;
    text-align: center;
}

#mainFrame {
    width: 915px;
    height: 800px;
    margin-left: 20px;
}

#sidebar {

}

#mainbanner {
    overflow: auto;
    height: auto !important;
}

#mainbanner a {
    display: block;
    float: right;
    overflow: visible;
    margin-right: 100px;
    margin-left: -164px;
    margin-top: 100px;
}

#mainbanner img {
    overflow: auto;
}